%p= link_to "ログアウト", logout_path, data: { turbo_method: "delete" }

%h1 写真アップロード画面

- flash.each do |message_type, message|
  %div{:class => "alert alert-#{message_type}"}
    %ul
    - message.each do |m|
      %li= m

= form_for(:photo, url: photos_create_path, html: {multipart: true}) do |f|
  %div
    = f.label 'タイトル'
    = f.text_field :title
  %div
    = f.label '画像ファイル'
    = f.file_field :image
  %div
    = f.submit "アップロード"
    = link_to "キャンセル", photos_index_path
